<h1 style="text-align:center;">We are at the heart of appropriate care</h1>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top mt-4" src="assets/Images/LifeCoachLogIn.jpg">
                <button class="btn btn-info mt-4 m1-4 mr-4" routerLink="/login/:coaches">Login as a coach</button>
                <button class="btn btn-info mt-4 ml-4 mr-4 mb-4" routerLink="/signup/:coaches">Join as a coach</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top mt-4" src="assets/Images/UserLogIn.jpg">
                <button class="btn btn-info mt-4 ml-4 mr-4" routerLink="/login/:user">Login as a user</button>
                <button class="btn btn-info mt-4 ml-4 mr-4 mb-4" routerLink="/signup/:user">Join as a user</button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>